{% include 'admin_header.html' %}


<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/card2.jpg); background-attachment: fixed;height: auto" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">


						<div class="display-tc animate-box" data-animate-effect="fadeIn">
		<form method="post">
{% if data['updater'] %}
<h1>UPDATE QUALITY</h1>

	<table class="table">
		<tr>
			<th>Quality</th>
			<td><input type="text" class="form-control" name="quality" value="{{data['updater'][0]['Quality']}}"></td>
		</tr>
		<tr>
			<th>Percent</th>
			<td><input type="text"  class="form-control" name="per" value="{{data['updater'][0]['percent']}}"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit"  name="update" value="update" class="btn btn-primary"></td>
		</tr>
	</table>
		

{% else %}

<h1>MANAGE QUALITY</h1>

	<table class="table">
		<tr>
			<th>Quality</th>
			<td><input type="text"   name="quality"></td>
		</tr>
		<tr>
			<th>Percent</th>
			<td><input type="text"   name="per"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit"  name="submit" value="submit" class="btn btn-primary"></td>
		</tr>
	</table>
		

{% endif %}



</form>


					</div>
					</div>
				</div>
			</div>
		</div>
	</header>

<center>
<h2>view Quality</h2>

	 <table style="color: black" class="table">
	 	<tr>
	 		<th>sl.no</th>
	 		<th>quality</th>
	 		<th>percent</th>
	 		{% for row in data['quality'] %}
	 		<tr>
	 			<td>{{loop.index}}</td>
	 			<td>{{row['Quality']}}</td>
	 			<td>{{row['percent']}}</td>
	 			<td><a href="?action=delete&id={{row['Quality_id']}}" class="btn btn-danger">delete</a></td>
	 			<td><a href="?action=update&id={{row['Quality_id']}}" class="btn btn-warning">update</a></td>
	 		</tr>
	 		{% endfor %}
	 	</tr>
	 </table>
</center>		


{% include 'footer.html'%}
